.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body{
    font-family: "Inter", sans-serif;
    color: rgba(0,0,0,0.5);
}
h1,h2,h4,h6{
    font-family: "Noto Serif", serif;
    color: black;
}